<p>
  {{title}} - {{url}}
</p>

<button class="bookmark-edit-button">edit</button>

<form class="bookmark-edit-form">
  <input class="bookmark-title"type="text" value="{{title}}">
  <input class="bookmark-url" type="text" value="{{url}}">
  <input class="bookmark-cancel" type="reset" value="cancel">
  <input class="bookmark-save" type="submit" value="save">
</form>
