<button class="bookmark-add-button">new</button>

<form class="bookmark-add-form hidden">
  <input class="bookmark-title"type="text" placeholder="title">
  <input class="bookmark-url" type="text" placeholder="url">
  <input class="bookmark-reset" type="reset" placeholder="reset">
  <input class="bookmark-save" type="submit" placeholder="save">
</form>
