<div class="link-item">
  <p>
    <a href="{{url}}">  <i class="fa fa-pencil"></i>{{title}}</a>
  </p>

  <button class="bookmark-edit-button pure-button">edit</button>

  <form class="bookmark-edit-form hidden pure-form">
    <input class="bookmark-title"type="text" value="{{title}}">
    <input class="bookmark-url" type="text" value="{{url}}">
    <input class="bookmark-reset" type="reset" value="reset">
    <input class="bookmark-save" type="submit" value="save">
    <button class="bookmark-delete" type="delete">delete</button>
  </form>
</div>
