<p>
  {{title}} - {{url}}
</p>

<button class="bookmark-edit-button">edit</button>

<form class="bookmark-edit-form hidden">
  <input class="bookmark-title"type="text" value="{{title}}">
  <input class="bookmark-url" type="text" value="{{url}}">
  <input class="bookmark-reset" type="reset" value="reset">
  <input class="bookmark-save" type="submit" value="save">
  <button class="bookmark-delete" type="delete">delete</button>
</form>
