@import '../bower_components/pure/pure';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
  margin: 0;
  padding: 0;
}

.link-item{
  @include outer-container;
}

.add-new {
  @include outer-container;
}

li{
  list-style: none;
  text-align: center;
  padding-top: 5%;
}

.hidden {
  display: none;
}

.bookmark-add-form {
  @include outer-container;
  @include span-columns(12);
  text-align: center;
}

a {
  border: 1px solid #00BFA5;
  padding: 1%;
  border-radius: 10px;
  background-color: #A7FFEB;
  color: black;
  text-decoration: none;
  margin: 2%;
}

.bookmark-edit-button {
  margin-top: 2%;
  background-color: #D1C4E9;
  color: #311B92;
  padding: .5%;
  border-radius: 10px;
}

.bookmark-add-button {
  @include outer-container;
  @include span-columns(1);
  @include shift(5.5);
  margin-top: 1%;
  background-color: #FFF9C4;
  color: #000;
  padding: .5%;
  border-radius: 10px;
}
