@import '../bower_components/pure/pure';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$light-gray: #e0e0e0;
$medium-gray: #cbcbcb;

* {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  text-align: center;
  padding-top: 5%;
}

.hidden {
  display: none;
}
